p{
   font-weight: bold; 
   color: red;
}
li{
    text-align: center;
    font-size: 120%;
    text-decoration: none;
  
}
a{
    text-decoration: none;
    color: blue;
    text-align: center;
    background-color: azure;
}
.container{
    margin-top: 8%;
}
.menu{
    margin-top: 4%;
}


